.bg-image {
  height: 100vh;
  background: url("../../img/computer-768608_1920.jpg") no-repeat bottom center;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .bg-image .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background: #080809; }

.navbar {
  background: rgba(0, 0, 0, 0.6); }

.navbar-brand {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: white !important; }

.navbar-toggler {
  border: none !important;
  outline: none !important; }

.navbar-toggler i {
  color: white; }

.navbar-nav .nav-item .nav-link {
  border: none !important;
  outline: none !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  cursor: pointer; }

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
  background-size: cover;
  height: 400px;
  position: relative; }

/* dekstop */
@media (min-width: 992px) {
  .navbar {
    background: transparent; }
  .brand .navbar-brand {
    font-size: 32px;
    border: none !important;
    outline: none !important;
    font-family: 'Roboto', sans-serif;
    color: #fff !important; }
  .navbar-nav .nav-item .nav-link {
    color: white !important; }
  .nav-link {
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: 500; }
  .nav-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    transition: width .3s; }
  .nav-link:hover::after {
    width: 50%;
    transition: width .3s; } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 80%;
  margin: 2rem auto; }
